jtag newtap FPGNIX cpu -irlen 5 -expected-id 0x549511C3
target create FPGNIX.cpu riscv -chain-position FPGNIX.cpu -rtos hwthread

#sysbus or progbuf
riscv set_mem_access sysbus

init
halt
load_image demo.elf
#verify_image demo.elf
reset halt
resume

exit
